*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/gradle.xml
.idea/modules.xml
vcs.xml
.idea/misc.xml
app/fabric.properties
*.apk
.idea/caches
.idea/codeStyles
